<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-ekstrem" value="https://nuget.pkg.github.com/Ekstrem/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-ekstrem>
      <add key="Username" value="Ekstrem" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-ekstrem>
  </packageSourceCredentials>
</configuration>
